# Gradle
.gradle
/build
/captures

# Android Studio / IntelliJ
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/planningMode.xml

# Local config
local.properties
/local.properties

# NDK
.externalNativeBuild
.cxx

# OS
.DS_Store
Thumbs.db